.inc {
    background-color: #4CAF50;
    background-image: linear-gradient(45deg, #4CAF50, #FF8C00);
    border: none;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

.inc:hover {
    box-shadow: 0 0 10px #4CAF50;
    transform: scale(1.05);
}

.inc::before {
    background-image: linear-gradient(-45deg, #4CAF50, #FF8C00, #4CAF50);
    border-radius: 10px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    z-index: -1;
}
.inc:hover::before {
    opacity: 1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.reset {
    background-color: #4CAF50;
    background-image: linear-gradient(45deg, #4CAF50, #FF8C00);
    border: none;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

.reset:hover {
    box-shadow: 0 0 10px #4CAF50;
    transform: scale(1.05);
}

.reset::before {
    background-image: linear-gradient(-45deg, #4CAF50, #FF8C00, #4CAF50);
    border-radius: 10px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    z-index: -1;
}

.reset:hover::before {
    opacity: 1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.clear {
    background-color: #4CAF50;
    background-image: linear-gradient(-45deg, #93af4c, #3fc59d, #744caf);
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

.clear:hover {
    box-shadow: 0 0 10px #4CAF50;
    transform: scale(1.05);
}

.clear::before {
    background-image: linear-gradient(-45deg, #d0da51, #FF8C00, #7d1ff3);
    border-radius: 10px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    z-index: -1;
}

.clear:hover::before {
    opacity: 1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.set {
    background-color: #4CAF50;
    background-image: linear-gradient(-45deg, #93af4c, #3fc59d, #744caf);
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

.set:hover {
    box-shadow: 0 0 10px #4CAF50;
    transform: scale(1.05);
}

.set::before {
    background-image: linear-gradient(-45deg, #d0da51, #FF8C00, #7d1ff3);
    border-radius: 10px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    z-index: -1;
}

.set:hover::before {
    opacity: 1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.disabled {
    background-color: #7d867d;
    background-image: linear-gradient(45deg, #686c68, #bd9073);
    border: none;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

.disabled:hover {
    box-shadow: 0 0 15px #aabdab;
    transform: scale(1.05);
}

.disabled::before {
    background-image: linear-gradient(-45deg, #626b62, #c2ab90, #7bcbb8);
    border-radius: 10px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    z-index: -1;
}
.disabled:hover::before {
    opacity: 1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
