.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    width: 350px;
    height: 300px;
    /*transform: translate(-15%, 30%);*/
    border-radius: 15px;
    border: 3px solid #343E40;
    padding: 15px;
    background:   #343E40;
    box-shadow: 10px 5px 250px 20px #4bcffa;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 350px;
    height: 200px;
    border: 1px solid #5f937d;
    font-size: 30px;
    color: #5f937d;
}
.scoreboard input {
    margin-left: 20px;
    margin-top: 20px;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: #5f937d;
    border-radius: 10px;
    border: #5f937d 1px solid;
    text-align: center;

}

.btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border: 1px solid #5f937d;
    border-radius: 15px;
    width: 350px;
    height: 80px;
}