body {
    width: 90%;
    height: 100vh;
    background-color: #212121;
}

.App {
    position: absolute;
    top: 50%;
    left: 70%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: none ;
    padding: 15px;
    background-color:   #657576;
    box-shadow: 1px 3px 250px 30px #4bcffa;
}