body {
    /*width: 90%;*/
    height: 100vh;
    background-color: #212121;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.background {
    flex-wrap: wrap;
    /*position: fixed;*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.background::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 190px #ff1500, 0 0 100px #FFD700, 0 0 290px #FFD700, 0 0 450px #ff7300;
    animation: glow 2s linear infinite;
}

.background::after {
    content: "";
    position: absolute;
    top: -30px;
    right: -30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 190px #FFD700, 0 0 100px #FFD700, 0 0 290px #FFD700, 0 0 450px #FFD700;
    animation: glow 3s linear infinite;
}

@keyframes glow {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}


